In [327]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [328]:
order = pd.read_excel("F:\Data analytics project excel\Twinkle vala project\Cointab Data Analyst - Challenge\Company X - Order Report.xlsx")
invoice = pd.read_excel("F:\Data analytics project excel\Twinkle vala project\Cointab Data Analyst - Challenge\Courier Company - Invoice.xlsx")
sku = pd.read_excel("F:\Data analytics project excel\Twinkle vala project\Cointab Data Analyst - Challenge\Company X - SKU Master.xlsx")
x_post = pd.read_excel("F:\Data analytics project excel\Twinkle vala project\Cointab Data Analyst - Challenge\Company X - Pincode Zones.xlsx")
cc_rates = pd.read_excel(r"Courier Company - Rates.xlsx")

In [329]:
o = pd.merge(sku,order,on = "SKU",how = "outer")

In [330]:
o["Total_weight_asper_x(kg)"] = (o["Order Qty"]*o["Weight (g)"])/1000

In [331]:
t1 = o.groupby("Order ID")["Total_weight_asper_x(kg)"].sum()
t1 = t1.reset_index()
t1

       Order ID  Total_weight_asper_x(kg)
0    2001806210                     0.220
1    2001806226                     0.480
2    2001806229                     0.500
3    2001806232                     1.302
4    2001806233                     0.245
..          ...                       ...
119  2001821995                     0.477
120  2001822466                     1.376
121  2001823564                     0.672
122  2001825261                     1.557
123  2001827036                     2.176

[124 rows x 2 columns]

In [332]:
t1["Total_weight_asper_x(kg)"].max()

3.08

In [333]:
c1 = [(t1["Total_weight_asper_x(kg)"]<=0.5),
      (t1["Total_weight_asper_x(kg)"]>0.5)&(t1["Total_weight_asper_x(kg)"]<=1),
      (t1["Total_weight_asper_x(kg)"]>1)&(t1["Total_weight_asper_x(kg)"]<=1.5),
      (t1["Total_weight_asper_x(kg)"]>1.5)&(t1["Total_weight_asper_x(kg)"]<=2),
      (t1["Total_weight_asper_x(kg)"]>2)&(t1["Total_weight_asper_x(kg)"]<=2.5),
      (t1["Total_weight_asper_x(kg)"]>2.5)&(t1["Total_weight_asper_x(kg)"]<=3),
      (t1["Total_weight_asper_x(kg)"]>3)&(t1["Total_weight_asper_x(kg)"]<=3.5)]

In [334]:
v1 = [0.5,1,1.5,2,2.5,3,3.5]

In [335]:
t1["Total_weight_slab_asper_x(kg)"] = np.select(c1,v1)
t1

       Order ID  Total_weight_asper_x(kg)  Total_weight_slab_asper_x(kg)
0    2001806210                     0.220                            0.5
1    2001806226                     0.480                            0.5
2    2001806229                     0.500                            0.5
3    2001806232                     1.302                            1.5
4    2001806233                     0.245                            0.5
..          ...                       ...                            ...
119  2001821995                     0.477                            0.5
120  2001822466                     1.376                            1.5
121  2001823564                     0.672                            1.0
122  2001825261                     1.557                            2.0
123  2001827036                     2.176                            2.5

[124 rows x 3 columns]

In [336]:
t1["Total_weight_slab_asper_x(kg)"].value_counts()

Total_weight_slab_asper_x(kg)
0.5    58
1.0    45
1.5    11
2.5     4
2.0     4
3.5     1
3.0     1
Name: count, dtype: int64

In [337]:
ex = pd.merge(t1,invoice,on = "Order ID",how = "outer")
ex.head()

,Order ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,0.480,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,0.500,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1.302,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,0.245,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3

In [338]:
c2 = [(ex["Charged Weight"]<=0.5),
      (ex["Charged Weight"]>0.5)&(ex["Charged Weight"]<=1),
      (ex["Charged Weight"]>1)&(ex["Charged Weight"]<=1.5),
      (ex["Charged Weight"]>1.5)&(ex["Charged Weight"]<=2),
      (ex["Charged Weight"]>2)&(ex["Charged Weight"]<=2.5),
      (ex["Charged Weight"]>2.5)&(ex["Charged Weight"]<=3),
      (ex["Charged Weight"]>3)&(ex["Charged Weight"]<=3.5),
      (ex["Charged Weight"]>3.5)&(ex["Charged Weight"]<=4),
      (ex["Charged Weight"]>4)&(ex["Charged Weight"]<=4.5),
      (ex["Charged Weight"]>4.5)&(ex["Charged Weight"]<=4)]

In [339]:
v2 = [0.5,1,1.5,2,2.5,3,3.5,4,4.5,5]

In [340]:
ex["Total_wt_slab_cc"] = np.select(c2,v2)

In [341]:
ex

,Order ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Total_wt_slab_cc
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0
1,2001806226,0.480,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2,1.0
2,2001806229,0.500,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2,1.0
3,2001806232,1.302,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0,1.5
4,2001806233,0.245,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,0.477,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.5
120,2001822466,1.376,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0,1.5
121,2001823564,0.672,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8,1.0
122,2001825261,1.557,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0,2.0
123,2001827036,2.176,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9,2.0

In [342]:
ex.rename(columns = {"Order ID" : "Order_ID", "AWB Code" : "AWB_Code","Charged Weight" : "Total_wt_cc",
                     "Warehouse Pincode": "Warehouse_Pincode_cc",
                     "Zone" : "Zone_cc","Type of Shipment" :"Type_of_Shipment","Billing Amount (Rs.)" : "charges_asper_cc(Rs)"},inplace = True)
ex

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Warehouse_Pincode_cc,Customer Pincode,Zone_cc,Type_of_Shipment,charges_asper_cc(Rs),Total_wt_slab_cc
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0
1,2001806226,0.480,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2,1.0
2,2001806229,0.500,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2,1.0
3,2001806232,1.302,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0,1.5
4,2001806233,0.245,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,0.477,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.5
120,2001822466,1.376,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0,1.5
121,2001823564,0.672,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8,1.0
122,2001825261,1.557,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0,2.0
123,2001827036,2.176,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9,2.0

In [343]:
one = pd.merge(ex,x_post,on = "Customer Pincode",how = "left")
one

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Warehouse_Pincode_cc,Customer Pincode,Zone_cc,Type_of_Shipment,charges_asper_cc(Rs),Total_wt_slab_cc,Warehouse Pincode,Zone
0,2001806210,0.220,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5,3.0,121003,b
1,2001806226,0.480,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2,1.0,121003,d
2,2001806229,0.500,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2,1.0,121003,d
3,2001806232,1.302,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0,1.5,121003,d
4,2001806233,0.245,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3,1.0,121003,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,0.477,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.5,121003,b
170,2001822466,1.376,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0,1.5,121003,b
171,2001823564,0.672,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8,1.0,121003,d
172,2001825261,1.557,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0,2.0,121003,d
173,2001827036,2.176,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9,2.0,121003,e

In [344]:
one.drop(["Warehouse_Pincode_cc"], axis =1,inplace = True)
one.drop(["Customer Pincode"], axis =1,inplace = True)
one

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Zone_cc,Type_of_Shipment,charges_asper_cc(Rs),Total_wt_slab_cc,Warehouse Pincode,Zone
0,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,121003,b
1,2001806226,0.480,0.5,1091117222065,0.68,d,Forward charges,90.2,1.0,121003,d
2,2001806229,0.500,0.5,1091117222080,0.71,d,Forward charges,90.2,1.0,121003,d
3,2001806232,1.302,1.5,1091117222124,1.30,d,Forward charges,135.0,1.5,121003,d
4,2001806233,0.245,0.5,1091117222135,0.78,b,Forward charges,61.3,1.0,121003,b
...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,0.477,0.5,1091121183730,0.50,d,Forward charges,45.4,0.5,121003,b
170,2001822466,1.376,1.5,1091121305541,1.10,d,Forward charges,135.0,1.5,121003,b
171,2001823564,0.672,1.0,1091121666133,0.70,d,Forward and RTO charges,172.8,1.0,121003,d
172,2001825261,1.557,2.0,1091121981575,1.60,d,Forward and RTO charges,345.0,2.0,121003,d
173,2001827036,2.176,2.5,1091122418320,1.60,b,Forward charges,117.9,2.0,121003,e

In [345]:
one.rename(columns = {"Zone" : "Zone_x"},inplace = True)

In [346]:
one

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Zone_cc,Type_of_Shipment,charges_asper_cc(Rs),Total_wt_slab_cc,Warehouse Pincode,Zone_x
0,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,121003,b
1,2001806226,0.480,0.5,1091117222065,0.68,d,Forward charges,90.2,1.0,121003,d
2,2001806229,0.500,0.5,1091117222080,0.71,d,Forward charges,90.2,1.0,121003,d
3,2001806232,1.302,1.5,1091117222124,1.30,d,Forward charges,135.0,1.5,121003,d
4,2001806233,0.245,0.5,1091117222135,0.78,b,Forward charges,61.3,1.0,121003,b
...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,0.477,0.5,1091121183730,0.50,d,Forward charges,45.4,0.5,121003,b
170,2001822466,1.376,1.5,1091121305541,1.10,d,Forward charges,135.0,1.5,121003,b
171,2001823564,0.672,1.0,1091121666133,0.70,d,Forward and RTO charges,172.8,1.0,121003,d
172,2001825261,1.557,2.0,1091121981575,1.60,d,Forward and RTO charges,345.0,2.0,121003,d
173,2001827036,2.176,2.5,1091122418320,1.60,b,Forward charges,117.9,2.0,121003,e

In [347]:
c3 = [(one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==0.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==1),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==1.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==2),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==2.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==3),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==3.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==4),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==0.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==1),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==1.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==2),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==2.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==3),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==3.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="b")&
      (one["Total_weight_slab_asper_x(kg)"]==4),

      
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==0.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==1),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==1.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==2),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==2.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==3),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==3.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==4),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==0.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==1),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==1.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==2),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==2.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==3),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==3.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="d")&
      (one["Total_weight_slab_asper_x(kg)"]==4),

      
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==0.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==1),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==1.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==2),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==2.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==3),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==3.5),
      (one["Type_of_Shipment"]=="Forward charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==4),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==0.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==1),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==1.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==2),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==2.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==3),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==3.5),
      (one["Type_of_Shipment"]=="Forward and RTO charges")&(one["Zone_x"]=="e")&
      (one["Total_weight_slab_asper_x(kg)"]==4)]

In [348]:
v3 = [33,61.3,89.6,117.9,146.2,174.5,202.8,231.1,53.5,110.1,166.7,223.3,279.9,336.5,393.1,449.7,
      45.4,90.2,135,179.8,224.6,269.4,314.2,359,86.7,176.3,265.9,355.5,445.1,534.7,624.3,713.9,
      56.6,112.1,167.6,223.1,278.6,334.1,389.6,445.1,107.3,218.3,329.3,440.3,551.3,662.3,773.3,884.3]

In [349]:
one["Expceted_charges_asper_X(Rs)"] = np.select(c3,v3)

In [350]:
one

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Zone_cc,Type_of_Shipment,charges_asper_cc(Rs),Total_wt_slab_cc,Warehouse Pincode,Zone_x,Expceted_charges_asper_X(Rs)
0,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,121003,b,33.0
1,2001806226,0.480,0.5,1091117222065,0.68,d,Forward charges,90.2,1.0,121003,d,45.4
2,2001806229,0.500,0.5,1091117222080,0.71,d,Forward charges,90.2,1.0,121003,d,45.4
3,2001806232,1.302,1.5,1091117222124,1.30,d,Forward charges,135.0,1.5,121003,d,135.0
4,2001806233,0.245,0.5,1091117222135,0.78,b,Forward charges,61.3,1.0,121003,b,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,0.477,0.5,1091121183730,0.50,d,Forward charges,45.4,0.5,121003,b,33.0
170,2001822466,1.376,1.5,1091121305541,1.10,d,Forward charges,135.0,1.5,121003,b,89.6
171,2001823564,0.672,1.0,1091121666133,0.70,d,Forward and RTO charges,172.8,1.0,121003,d,176.3
172,2001825261,1.557,2.0,1091121981575,1.60,d,Forward and RTO charges,345.0,2.0,121003,d,355.5
173,2001827036,2.176,2.5,1091122418320,1.60,b,Forward charges,117.9,2.0,121003,e,278.6

In [351]:
one["Difference Between Expected Charges and Billed Charges (Rs.)"] = one["Expceted_charges_asper_X(Rs)"]-one["charges_asper_cc(Rs)"]

In [352]:
one

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Zone_cc,Type_of_Shipment,charges_asper_cc(Rs),Total_wt_slab_cc,Warehouse Pincode,Zone_x,Expceted_charges_asper_X(Rs),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,0.220,0.5,1091117221940,2.92,b,Forward charges,174.5,3.0,121003,b,33.0,-141.5
1,2001806226,0.480,0.5,1091117222065,0.68,d,Forward charges,90.2,1.0,121003,d,45.4,-44.8
2,2001806229,0.500,0.5,1091117222080,0.71,d,Forward charges,90.2,1.0,121003,d,45.4,-44.8
3,2001806232,1.302,1.5,1091117222124,1.30,d,Forward charges,135.0,1.5,121003,d,135.0,0.0
4,2001806233,0.245,0.5,1091117222135,0.78,b,Forward charges,61.3,1.0,121003,b,33.0,-28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,0.477,0.5,1091121183730,0.50,d,Forward charges,45.4,0.5,121003,b,33.0,-12.4
170,2001822466,1.376,1.5,1091121305541,1.10,d,Forward charges,135.0,1.5,121003,b,89.6,-45.4
171,2001823564,0.672,1.0,1091121666133,0.70,d,Forward and RTO charges,172.8,1.0,121003,d,176.3,3.5
172,2001825261,1.557,2.0,1091121981575,1.60,d,Forward and RTO charges,345.0,2.0,121003,d,355.5,10.5
173,2001827036,2.176,2.5,1091122418320,1.60,b,Forward charges,117.9,2.0,121003,e,278.6,160.7

In [354]:
one.columns

Index(['Order_ID', 'Total_weight_asper_x(kg)', 'Total_weight_slab_asper_x(kg)',
       'AWB_Code', 'Total_wt_cc', 'Zone_cc', 'Type_of_Shipment',
       'charges_asper_cc(Rs)', 'Total_wt_slab_cc', 'Warehouse Pincode',
       'Zone_x', 'Expceted_charges_asper_X(Rs)',
       'Difference Between Expected Charges and Billed Charges (Rs.)'],
      dtype='object')

In [355]:
one.drop(columns = ['Type_of_Shipment','Warehouse Pincode'],axis=1,inplace = True,)

In [358]:
one.rename(columns = {"Zone_cc" : 'Delivery Zone charged by Courier Company','Zone_x' : 'Delivery Zone as per X'},inplace = True)

In [359]:
one

,Order_ID,Total_weight_asper_x(kg),Total_weight_slab_asper_x(kg),AWB_Code,Total_wt_cc,Delivery Zone charged by Courier Company,charges_asper_cc(Rs),Total_wt_slab_cc,Delivery Zone as per X,Expceted_charges_asper_X(Rs),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,0.220,0.5,1091117221940,2.92,b,174.5,3.0,b,33.0,-141.5
1,2001806226,0.480,0.5,1091117222065,0.68,d,90.2,1.0,d,45.4,-44.8
2,2001806229,0.500,0.5,1091117222080,0.71,d,90.2,1.0,d,45.4,-44.8
3,2001806232,1.302,1.5,1091117222124,1.30,d,135.0,1.5,d,135.0,0.0
4,2001806233,0.245,0.5,1091117222135,0.78,b,61.3,1.0,b,33.0,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,0.477,0.5,1091121183730,0.50,d,45.4,0.5,b,33.0,-12.4
170,2001822466,1.376,1.5,1091121305541,1.10,d,135.0,1.5,b,89.6,-45.4
171,2001823564,0.672,1.0,1091121666133,0.70,d,172.8,1.0,d,176.3,3.5
172,2001825261,1.557,2.0,1091121981575,1.60,d,345.0,2.0,d,355.5,10.5
173,2001827036,2.176,2.5,1091122418320,1.60,b,117.9,2.0,e,278.6,160.7

In [362]:
one.to_csv("Result.csv",index = False)